<!DOCTYPE html>
<html>
<head>
	<title>Financy</title>

	<link rel="stylesheet" type="text/css" href="/assets/styles.css">
	<link rel="icon" type="image/ico" href="/assets/money.png" />
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

</head>
<body>
	<div class="container">
		<div>
			<h1 class="title">Financy</h1>
		</div>
		<div class="login">
			<button class="loginButton"><a href="http://localhost:3000/login">Login</a></button>
		</div>
		<div class="register">
			<button class="registerButton"><a href="http://localhost:3000/register">Register</a></button>
		</div>
	</div>
</body>
</html>