<!DOCTYPE html>
<html>
<head>
	<title>Stocks</title>
	<link rel="stylesheet" type="text/css" href="/assets/stockstyles.css">
	<link rel="icon" type="image/ico" href="/assets/money.png" />
	<script type="text/javascript" src="/assets/stocklogic.js"></script>
</head>
<body>
	<header>
		<% include ./header %>
	</header>
	<main>
		<div class="wrapper">
  			<div class="stocks">
    			<h1 class="stocks-title">Top 5 Holdings</h1>
  			</div>
		  	<div class="compound">
		   		 <h2 class="compound-title">Investments Compounded</h2>
		  	</div>
		  	<div class="shares">
		    	<h2 class="shares-title">How many shares?</h2>
		  	</div>
		</div>
	</main>

</body>
</html>